In [2]:
import plotly 
plotly.tools.set_credentials_file(username='Z0m6ie', api_key='NF11feIOXUr9MnP7F0Sh')

In [3]:
import plotly.plotly as py
import plotly.graph_objs as go

In [4]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_excel('https://github.com/Z0m6ie/IPD_App/blob/master/basis.xlsx?raw=true')

In [9]:
df

,SNC-Lavalin_cost,Construction_Partner_cost,OEM_cost,Profit_percent
Engineering,92790000,0,0,0.07
Procurement,192000000,0,192000000,0.04
Construction,200000000,500000000,0,0.09
Commisioning,12000000,0,0,0.09
Start-up_support,10000000,0,0,0.09

In [13]:
# add base_cost_total column
df['Base_cost_total'] = df['SNC-Lavalin_cost'] + df['Construction_Partner_cost'] + df['OEM_cost']

In [9]:
df = pd.read_excel('https://github.com/Z0m6ie/IPD_App/blob/master/basis.xlsx?raw=true')

# add base_cost_total column
df['Base_cost_total'] = df['SNC-Lavalin_cost'] + df['Construction_Partner_cost'] + df['OEM_cost']

# Risk Reward Pool
df['SNC-Lavalin_R&R'] = df['SNC-Lavalin_cost'] * df['Profit_percent']
df['Construction_Partner_R&R'] = df['Construction_Partner_cost'] * df['Profit_percent']
df['OEM_R&R'] = df['OEM_cost'] * df['Profit_percent']

In [11]:
sum(df['SNC-Lavalin_R&R'])

34155300.0

In [25]:

data = [
    go.Bar(
        x='Base_cost_total', # assign x as the dataframe column 'x'
        y=df['Base_cost_total'][0],
        name='Engineering'
    ),
    
    go.Bar(
        x='Base_cost_total', # assign x as the dataframe column 'x'
        y=df['Base_cost_total'][1],
        name='Procurement'
    ),
    
    go.Bar(
        x='Base_cost_total', # assign x as the dataframe column 'x'
        y=df['Base_cost_total'][2],
        name='Construction'
    ),
    
    go.Bar(
        x='Base_cost_total', # assign x as the dataframe column 'x'
        y=df['Base_cost_total'][3],
        name='Commisioning'
    ),
    
    go.Bar(
        x='Base_cost_total', # assign x as the dataframe column 'x'
        y=df['Base_cost_total'][4],
        name='Start-up Support'
    )
]
        
#     ),
#     go.Bar(
#         x=df['x'],
#         y=df['y2']
#     ),
#     go.Bar(
#         x=df['x'],
#         y=df['y3']
#     ),
#     go.Bar(
#         x=df['x'],
#         y=df['y4']
#     )


layout = go.Layout(
    barmode='stack',
    title='Base Cost of Meadow Creek Phase 1'
)

fig = go.Figure(data=data, layout=layout)

# IPython notebook
py.iplot(fig, filename='Base Cost of Meadow Creek Phase 1')

#url = py.plot(data, filename='Base Cost of Meadow Creek Phase 1')

In [24]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import pandas as pd

app = dash.Dash()

df = pd.read_excel('https://github.com/Z0m6ie/IPD_App/blob/master/basis.xlsx?raw=true')

# add base_cost_total column
df['Base_cost_total'] = df['SNC-Lavalin_cost'] + df['Construction_Partner_cost'] + df['OEM_cost']

app.layout = html.Div([
    dcc.Graph(
        id='Base Cost of Meadow Creek Phase 1',
            data = [
                go.Bar(
                    x='Base_cost_total', # assign x as the dataframe column 'x'
                    y=df['Base_cost_total'][0],
                    name='Engineering'
                ),

                go.Bar(
                    x='Base_cost_total', # assign x as the dataframe column 'x'
                    y=df['Base_cost_total'][1],
                    name='Procurement'
                ),

                go.Bar(
                    x='Base_cost_total', # assign x as the dataframe column 'x'
                    y=df['Base_cost_total'][2],
                    name='Construction'
                ),

                go.Bar(
                    x='Base_cost_total', # assign x as the dataframe column 'x'
                    y=df['Base_cost_total'][3],
                    name='Commisioning'
                ),

                go.Bar(
                    x='Base_cost_total', # assign x as the dataframe column 'x'
                    y=df['Base_cost_total'][4],
                    name='Start-up Support'
                )
            ],


            layout = go.Layout(
                barmode='stack',
                title='Base Cost of Meadow Creek Phase 1'
            ),
            

        fig = go.Figure(data=data, layout=layout)
    )
])

if __name__ == '__main__':
    app.run_server()

NameError: name 'data' is not defined